[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/nestjs-microservices-flpmcruz/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/nestjs-microservices-flpmcruz/products-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/nestjs-microservices-flpmcruz/orders-microservices.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/nestjs-microservices-flpmcruz/payments-ms.git
